{% extends 'theme/accueil.html.twig' %}

{% block title %}Accueil
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('/css/app.css') }}"/>
{% endblock %}

{% block body %}
	<h1>Gestion de l'inventaire</h1>
	<section class="imgbackground">
		<div class="test"></div>
	</section>
	<div class="example-wrapper">
		<h2 class="h5 mt-1">Saisissez le(s) mobilier(s) & matériel(s) de votre service
		</h2>
	</div>
{% endblock %}
