{% extends 'theme/accueil.html.twig' %}

{% block title %}update password
{% endblock %}

{% block body %}
	<p class="h5 text-left mb-5">
		Un e-mail a été envoyé contenant un lien sur lequel vous pouvez cliquer pour réinitialiser votre mot de passe. Ce lien expirera dans
		{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
	</p>
	<p class="h6 text-left">Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou
		<a class="text-dark" href="{{ path('app_forgot_password_request') }}">essayez encore</a>.</p>
{% endblock %}
