{% extends 'theme/apps.html.twig' %}

{% block title %}Ajoutez Equipement
{% endblock %}


{% block titlePage %}Ajouter un équipement
{% endblock %}
{% block body %}

	<hr class="sous-hr mb-5">

	{{ include('equipment/_form.html.twig') }}

	<a class="mt-4" href="{{ path('equipment_index') }}">back to list</a>

{% endblock %}
