{% extends 'theme/app.html.twig' %}

{% block title %}Ajoutez Equipement
{% endblock %}

{% block body %}
	<div class="container profile">
		<div class="card border-primary mb-3 align-items-center center-div" style="max-width: 60rem; margin-top: 100px">
			<h1 class="h3 mb-1">Ajouter un équipement</h1>
			<hr class="sous-hr mb-5">

			{{ include('equipment/_form.html.twig') }}

			<a class="mt-4" href="{{ path('equipment_index') }}">back to list</a>
		</div>
	</div>
{% endblock %}
