<footer class="mt-auto text-white-50 mb-5">
	<p>Gestion de l'inventaire
		<a href="https://getbootstrap.com/" class="text-white">Ville de pantin</a>, by
		<a href="https://twitter.com/mdo" class="text-white">JLD/PC</a>.</p>
</footer>
